*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
$darkgrey : #848484;
$darkblue : #323A45;

/* fonts */
@font-face {
    font-family:"karla";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

/* global */
.fontKarla{
    font-family: "karla";
}

/* padding for white space */
body{
    display: flex;
    justify-content: center;
}
figure{
    width: 28vw;
    height: auto;
/*     max-width:28vw; */
}
.smallImg{
    max-width: 28vw;
}

div{
    display: flex;
    justify-content: space-between;
}

.articleGridContainer{
    width: 100vw;
    max-width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 1fr 1fr 1fr;
/*     column-gap: .75rem; */
/*     row-gap: .75rem; */

    padding-top: 2rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.test1{
    grid-column: 1/4;
    width: 88vw;
    .largeImg{
        max-width: 87vw;
    }
    div{
        max-width: 85vw;
    }
    figure{
        max-width: 85vw;
    }
}