*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
$darkgrey : #848484;
$darkblue : #323A45;

/* fonts */
@font-face {
    font-family:"karla";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

/* global */
.fontKarla{
    font-family: "karla";
}

/* padding for white space */
body{
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* ========== header ========== */
/* ========== header ========== */
/* ========== header ========== */




/* ========== main - article grid container ========== */
/* ========== main - article grid container ========== */
/* ========== main - article grid container ========== */
.articleGridContainer{
    width: 100vw;
    max-width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    padding-top: 2rem;
}

.articleGridContainerBottom{
    width: 100vw;
    max-width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 1fr 0.5fr;
    padding-top: 2rem;
}

/* ========== small article images ========== */
/* ========== small article images ========== */
/* ========== small article images ========== */
.figureSmall{
        width: 28vw;
    padding-bottom: 2rem;
}

.smallImg{
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.smallImgDiv{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}
.smallFigcaption{
    padding-right: 1rem;
    padding-left: 1rem;
}

/* ========== large article images ========== */
/* ========== large article images ========== */
/* ========== large article images ========== */
.largeImgDiv{
    display: flex;
    justify-content: space-between;
}

.figureLarge{
    grid-column: 1/4;
    width: 94%;
    .largeImg{
        max-width: 100%;
    }
    div{
        max-width: 100%;
    }
}

